{% extends "musicbeats/base.html" %}
{% load static %}
{% block title %} <title>Signup </title>{% endblock %}		
	{% block content %}
	<div class="container mt-3">
		{% if messages %}
		  <ul class="messages">
		    {% for message in messages %}
		      <li class="{{ message.tags }}">{{ message }}</li>
		    {% endfor %}
		  </ul>
		{% endif %}
		<h3 class="text-center">Signup</h3>

	<form method="POST" action="signup">{% csrf_token %}
	  <div class="form-group">
	    <label>First Name</label>
	    <input name="firstname" type="text" class="form-control" placeholder="First Name" required>
	  </div>
	  
	  <div class="form-group">
	    <label>Last Name</label>
	    <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>
	  </div>
	  
	  <div class="form-group">
	    <label>User Name</label>
	    <input name="username" type="text" class="form-control" placeholder="User Name" required>
	  </div>
	  
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="username" placeholder="Enter email" required>
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" name="password1" class="form-control" autocomplete="new-password" id="password1" placeholder="Password" required>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword2">Confirm Password</label>
	    <input type="password" name="password2" autocomplete="new-password" class="form-control" id="password2" placeholder="Confirm Password" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Signup</button>
	  <br>
	  <br>
	</form>

</div>

<script type="text/javascript">
	function passwordCheck(){
		var password1 = document.querySelector('#password1')
		var password2 = document.querySelector('#password2')
		if(password1.value !== password2.value){
			alert('Password doesnot matches')	
		}
	}
</script>

	{% endblock content %}

